<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Swiftmart"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".CategoryScreen.TabletsActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryScreen.MouseActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryScreen.KeyboardActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryScreen.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryScreen.SmartWatchActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryScreen.SpeakersActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryScreen.HeadPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".AllProducts"
            android:exported="false" />
        <activity
            android:name=".Account.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".Account.Add_Address_Activity"
            android:exported="false" />
        <activity
            android:name=".Account.Address_Activity"
            android:exported="false" />
        <activity
            android:name=".Account.Edit_profile_Activity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailsActivity"
            android:exported="false" />
        <activity android:name=".Account.Language_Activity" />
        <activity
            android:name=".CategoryScreen.Leptop_Activity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />
        <activity
            android:name=".tv_detailsActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryScreen.tv_brandActivity"
            android:exported="false" />
        <activity
            android:name=".EarbusDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".EarbudsActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryScreen.EarphoneActivity"
            android:exported="false" />
        <activity
            android:name=".WarrantyDetails"
            android:exported="false" />
        <activity
            android:name=".PhoneDetails"
            android:exported="false" />
        <activity
            android:name=".PhoneActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryScreen.MobilesActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>